h1{
    font-size: 50px;
}

#header_grid_parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 50px;
    grid-template-areas: 
    "he he he"
    "st an ab";
}

#title{
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

#start_icon{
    grid-area: st;

    font-size: 5em;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}

#animals_icon{
    grid-area: an;

    font-size: 5em;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}

#about_us_icon{
    grid-area: ab;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 5em;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    border: 1px solid black;
}

a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#articles
{
    display: flex;
    flex-wrap: wrap;
}

.cards 
{
    width: 600px;
    height: 400px;
    margin: 10px;
    border-radius: 2px;
}

#card_1 
{
    background-image: url("../img/other/card1.jpg");
    background-position: right -150px bottom 0px;
    background-size: 150%;
}

#card_2 
{
    background-image: url("../img/other/card2.jpg");
    background-position: right 0px bottom 0px;
    background-size: 150%;
}

#card_3 
{
    background-image: url("../img/other/card3.jpg");
    background-position: right 0px bottom 0px;
    background-size: 100%;
}

#card_4 
{
    background-image: url("../img/other/card_4.jpg");
    background-position: right -200px bottom -150px;
    background-size: 150%;
}

#card_5 
{
    background-image: url("../img/other/card5.jpg");
    background-position: right 0px bottom -200px;
    background-size: 100%;
}

#card_6 
{
    background-image: url("../img/other/card6.jpg");
    background-position: right 1050px bottom -100px;
    background-size: 400%;
}

#card_7 
{
    background-image: url("../img/other/card7.jpg");
    background-position: right 1050px bottom -100px;
    background-size: 400%;
}

#card_8 
{
    background-image: url("../img/other/card8.jpg");
    background-position: right 1050px bottom -100px;
    background-size: 400%;
}

.cards:hover {
    box-shadow: 2px 2px 4px 4px black;

    animation-name: cards_hover;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

@keyframes cards_hover {
    from {
        box-shadow: 0px 0px 0px 0px black;
    }
    to {
        box-shadow: 2px 2px 4px 4px black;
    }
}

.img_in_header
{
    height: 40px;
    width: 40px;
}

#img_search
{
    filter: invert();    
}

img {
    margin: 10px;
    align-items: center;
}

#mainpage_grid_parent {
    display: grid;
    grid-template-columns: 70% minmax(10px 30%);
    grid-template-rows: 50px max-content;
    grid-template-areas:
    "he he"
    "a1 a2";
}

#article1 {
    grid-area: a1;
}

#article2 {
    grid-area: a2;
}

#rubrik {
    grid-area: he;
}

#orangutan {
    height: 400px;
    width: 400px;
}

#animals_grid_parent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax() 50%;
    grid-template-areas: 
    "a1"
    "a2";
}

#animal1 {
    grid-area: a1;
}

#animal2 {
    grid-area: a2;
}